VITE_APPWRITE_URL="https://nyc.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6aa1ff2f003c643ab612"
VITE_APPWRITE_DATABASE_ID="6aa2020100396629d8ab"
VITE_APPWRITE_COLLECTION_ID="6aa202d60013593beb95"
VITE_APPWRITE_BUCKET_ID="6aa205aa0003b1cb0746"